body {
  background-color: #cccccc;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .content {
    display: flex;
    height: 98vh;
    width: 99vw;
    gap: 10px;
    flex-direction: row;
    justify-content: stretch;

    @mixin element($flex-grow) {
      display: flex;
      flex-direction: column;
      flex: $flex-grow 0 auto;
    }

    .list {
      background-color: white;
      border-radius: 12px;
      @include element(1);
    }

    .dialog {
      border-radius: 12px;
      @include element(3);
    }
  }

}
